<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:light">
    <link rel="stylesheet" href="{{ "/assets/styles.css" | absolute_url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42328458-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-42328458-2');
    </script>
  </head>

  <body>
    <div class="container">
      <img src="{{ "/assets/intecture-logo.png" | absolute_url }}" title="Intecture" class="logo">

      {{ content }}

      <hr>

      <div class="smallprint">{{ site.copyright }}</div>
    </div>
  </body>
</html>
